# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
docs/BT6_Dac_ta_phan_mem_quan_ly_nha_khoa.md
docs/mockup_nhom_chuc_nang_2.drawio
backend/.env
docs/testing-plan.md
backend/.env
README.md
docs/uc3-automated-testing-report.md
qa/selenium-ide/uc3-selenium-ide.side
