# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
docs/BT6_Dac_ta_phan_mem_quan_ly_nha_khoa.md
docs/mockup_nhom_chuc_nang_2.drawio
backend/.env
backend/.env

# Kết quả sinh tự động, không lưu vào Git
qa/results/
N01.TH1_G05_KiemThu.pdf
docs/bao-cao-kiem-thu-4-uc.md
docs/testing-plan.md
docs/uc3-automated-testing-report.md
docs/tai-lieu-kiem-thu.md
docs/uc4-automated-and-nonfunctional-testing-report.md
.gitignore
docs/Bao-cao-kiem-thu-UC4.docx
docs/~$i-lieu-kiem-thu.docx
docs/~$i-lieu-kiem-thu-MEC.docx
docs/~$o-cao-kiem-thu-UC4.docx
docs/Tai-lieu-kiem-thu-MEC.docx
qa/tools/__pycache__/build_testing_document.cpython-312.pyc
qa/tools/build_uc4_report_docx.py
qa/tools/build_testing_document.py
docs/extracted_images/image1.png
docs/extracted_images/image2.png
docs/extracted_images/image3.png
docs/extracted_images/image4.png
docs/extracted_images/image5.png
docs/~$o_cao_cai_dat_MEC.docx
docs/Bao_cao_cai_dat_MEC.docx
docs/slide-canva-kiem-thu.html
docs/slide-ket-qua-kiem-thu.html
docs/slide-kiem-thu.html
docs/img/BS-Nguyễn-Tiến-Doanh.png
docs/img/BS-Nguyễn-Văn-An.png
docs/img/BS-Phạm-Thị-Minh-Ngọc.png
docs/img/BS-Từ-Hữu-Minh-Vũ.png
